body{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-repeat: no-repeat;
  color:white;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.gradient-border{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100vh;
  height:25vh;
  padding:5vh;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.button{
  border-style: solid;
  border-radius: 50px;
  padding:10px;
  margin-left:45vh;
  margin-top:25px;
  width:20vh;
  color:white;
  border-color:#cb8e93;
  background-color: rgba(255, 255, 255, 0);
  font-family: cursive;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
